/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* montserrat-100 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/montserrat-v18-latin_cyrillic-100.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-100.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-100.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-100.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-100.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-200 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/montserrat-v25-cyrillic_latin-200.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-cyrillic_latin-200.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic_latin-200.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-200.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic_latin-200.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic_latin-200.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-300 - cyrillic_latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/montserrat-v25-cyrillic_latin-300.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/montserrat-v25-cyrillic_latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v25-cyrillic_latin-300.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-300.woff") format("woff"), url("../fonts/montserrat-v25-cyrillic_latin-300.ttf") format("truetype"), url("../fonts/montserrat-v25-cyrillic_latin-300.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v18-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-regular.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v18-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-500.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-500.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v18-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-600.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-600.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v18-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/montserrat-v18-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v18-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/montserrat-v18-latin_cyrillic-700.woff") format("woff"), url("../fonts/montserrat-v18-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/montserrat-v18-latin_cyrillic-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  background: #f5f7fa;
  font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 40px 20px;
  }
}

body.light-theme {
  background-color: #f5f7fa;
  color: #000000;
}

body.dark-theme {
  background-color: #595959;
  color: #d6d8db;
  font-weight: 400;
}

.wrapper {
  background: #ffffff;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.sidebar {
  background: #1d466c;
  min-width: 320px;
  padding-top: 30px;
  padding-bottom: 30px;
  -webkit-box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (min-width: 768px) {
  .sidebar {
    max-width: 320px;
  }
}

@media screen and (min-width: 960px) {
  .sidebar {
    min-width: 370px;
  }
}

.info-mob {
  padding: 15px 35px 30px;
}

@media screen and (min-width: 768px) {
  .info-mob {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .info-mob {
    padding-left: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
    padding-right: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
  }
}

.info-mob .profession-mob {
  color: #d6d8db;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 600;
  font-size: 16px;
}

.info-mob .name-mob {
  margin-bottom: 15px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 700;
  line-height: 1.72;
}

@media screen and (max-width: 480px) {
  .info-mob .name-mob {
    font-size: calc((100vw - 320px) / (480 - 320) * (30 - 24) + 24px);
  }
}

@media screen and (min-width: 481px) {
  .info-mob .name-mob {
    font-size: 30px;
  }
}

@media screen and (min-width: 960px) {
  .info-mob .name-mob {
    font-size: 35px;
  }
}

.info-mob .personal-mob {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: #b17f83;
}

.info-mob .profession-divider-mob {
  color: #b17f83;
}

.contacts-container {
  margin: 30px 35px 0 35px;
}

@media screen and (max-width: 767px) {
  .contacts-container {
    margin-left: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
    margin-right: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
  }
}

@media screen and (min-width: 960px) {
  .contacts-container {
    margin: 40px 35px 0 35px;
  }
}

.contacts-title,
.skills-title {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.08;
}

.contact-block:not(:last-child) {
  margin-bottom: 5px;
}

.contacts-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration: underline transparent;
          text-decoration: underline transparent;
  color: #b17f83;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  -webkit-transition-property: font-weight, -webkit-text-decoration;
  transition-property: font-weight, -webkit-text-decoration;
  transition-property: font-weight, text-decoration;
  transition-property: font-weight, text-decoration, -webkit-text-decoration;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover, .contacts-link:focus,
.contact-block:hover .contacts-link,
.contact-block:focus .contacts-link {
  font-weight: 700;
  -webkit-text-decoration: underline #b17f83;
          text-decoration: underline #b17f83;
}

.contacts-link.start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.icon-contacts {
  margin-right: 5px;
}

.icon {
  fill: #d6d8db;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover .icon,
.contacts-link:focus .icon {
  fill: #b17f83;
}

.contacts-link-type {
  margin-right: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  font-weight: 700;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link-type:hover, .contacts-link-type:focus {
  color: #b17f83;
  cursor: pointer;
}

.skills-container {
  margin: 40px 35px 0 35px;
}

@media screen and (max-width: 767px) {
  .skills-container {
    margin-left: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
    margin-right: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
  }
}

.skills-item {
  margin-left: 20px;
  color: #b17f83;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.skills-item:not(:last-child) {
  margin-bottom: 4px;
}

.skills-text {
  color: #d6d8db;
}

.about-me-container {
  padding: 30px 30px 50px 30px;
}

.about-me-container.light-theme {
  background-color: #ffffff;
}

.about-me-container.dark-theme {
  background-color: #1d466c;
  color: #d6d8db;
}

@media screen and (max-width: 767px) {
  .about-me-container {
    padding-left: calc((100vw - 320px) / (480 - 320) * (40 - 30) + 30px);
    padding-right: calc((100vw - 320px) / (480 - 320) * (40 - 30) + 30px);
  }
}

@media screen and (min-width: 768px) {
  .about-me-container {
    padding: 45px 40px 80px 40px;
  }
}

@media screen and (min-width: 960px) {
  .about-me-container {
    padding: 45px 50px 80px 50px;
  }
}

.info-tablet {
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .info-tablet {
    display: none;
  }
}

.info-container {
  margin-bottom: 30px;
}

.profession {
  line-height: 1.5;
  font-size: 25px;
  font-weight: 700;
}

.name {
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.33;
  font-size: 30px;
}

@media screen and (max-width: 480px) {
  .name {
    font-size: calc((100vw - 320px) / (480 - 320) * (30 - 25) + 25px);
  }
}

@media screen and (min-width: 768px) {
  .name {
    font-size: 35px;
  }
}

@media screen and (min-width: 960px) {
  .name {
    font-size: 45px;
  }
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.personal {
  margin-bottom: 15px;
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  color: #b17f83;
}

.profession-time {
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
}

.projects-container {
  margin-bottom: 20px;
}

.about-me-title {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.08;
}

.projects-item {
  margin-left: 20px;
  margin-bottom: 5px;
  font-weight: 700;
}

.projects-item .projects-link {
  color: #b17f83;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item .projects-link:hover, .projects-item .projects-link:focus,
.projects-item:hover .projects-item .projects-link,
.projects-item:focus .projects-item .projects-link {
  font-size: 18px;
}

.tech-name {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 600;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

@media screen and (max-width: 657px) {
  .dots {
    display: none;
  }
}

@media screen and (min-width: 658px) and (max-width: 767px) {
  .dots {
    display: inline;
  }
}

@media screen and (min-width: 768px) {
  .dots {
    display: none;
  }
}

@media screen and (min-width: 1030px) {
  .dots {
    display: inline;
  }
}

@media screen and (max-width: 657px) {
  .link-description {
    display: block;
  }
}

@media screen and (min-width: 657px) and (max-width: 767px) {
  .link-description {
    display: inline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1030px) {
  .link-description {
    display: block;
  }
}

.about-project {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

.about {
  font-weight: 600;
}

.profession-title {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}

.profession-company {
  color: #b17f83;
  text-decoration: none;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.profession-company:hover, .profession-company:focus {
  font-size: 17px;
}

.profession-divider-personal {
  color: #b17f83;
}

.profession-duties {
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 20px;
}

.profession-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.education-company {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #b17f83;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  -webkit-transition-property: font-size;
  transition-property: font-size;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.education-company:hover, .education-company:focus {
  font-size: 17px;
}

.education-duties {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.education-duties-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.projects-container.dark-theme {
  color: #ffffff;
}

/*toolbar*/
@media screen and (max-width: 768px) {
  .toolbar {
    position: fixed;
    right: 0;
    top: 10px;
  }
}

@media screen and (min-width: 768px) {
  .toolbar {
    position: absolute;
    top: 50px;
    right: 30px;
  }
}

@media print {
  .toolbar {
    display: none;
  }
}

/*theme switcher*/
.theme-switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.theme-switch__icon {
  color: currentColor;
  height: 24px;
  width: 24px;
  margin-right: 8px;
}

.light-theme .theme-switch__icon--sun {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #b17f83;
}

.light-theme .theme-switch__icon--moon {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #1d466c;
}

.dark-theme .theme-switch__icon--sun {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #d6d8db;
}

.dark-theme .theme-switch__icon--moon {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #b17f83;
}

.theme-switch__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  width: 64px;
  height: 32px;
  border-radius: 50em;
  padding: 3px 0;
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}

.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 55px;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #1d466c;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
  -webkit-box-shadow: 0 0 0 3px #b17f83;
          box-shadow: 0 0 0 3px #b17f83;
}

.theme-switch__marker {
  position: relative;
  background-color: #b17f83;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  -webkit-transform: translateX(3px);
          transform: translateX(3px);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.theme-switch__toggle:checked + .theme-switch__track {
  background-color: #d6d8db;
}

.theme-switch__toggle:checked ~ .theme-switch__marker {
  -webkit-transform: translateX(27px);
          transform: translateX(27px);
}

.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
  -webkit-box-shadow: 0 0 0 3px #b17f83;
          box-shadow: 0 0 0 3px #b17f83;
}

@media print {
  body {
    background: #ffffff;
    padding: 0;
  }
  .toolbar {
    display: none;
  }
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .sidebar {
    width: 330px;
  }
  .info-mob {
    display: none;
  }
  .contacts-container,
  .skills-container {
    margin: 30px 30px 0;
  }
  .skills-container {
    margin: 30px 30px 0;
  }
  .skills-container--lang {
    margin-top: 10px;
    padding-top: 20px;
  }
  .about-me-container {
    padding: 35px 25px;
  }
  .info-container {
    margin-bottom: 20px;
  }
  .info-tablet {
    margin-bottom: 10px;
  }
  .projects-container {
    margin-bottom: 20px;
  }
  .projects-item {
    margin-left: 15px;
  }
  .dots {
    display: none;
  }
  .link-description {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */