.sidebar {
  background: $sidebar-bg-color;
  min-width: 320px;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

  @media screen and (min-width: 768px) {
    max-width: 320px;
  }

  @media screen and (min-width: 960px) {
    min-width: 370px;
  }
}

.info-mob {
  padding: 15px 35px 30px;

  @media screen and (min-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 767px) {
    padding-left: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
    padding-right: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
  }

  .profession-mob {
    // margin-bottom: 15px;
    @include mainfont($primary-text-color);
    font-weight: $secondary-font-weight;
    font-size: $profession-font-size;
  }

  .name-mob {
    margin-bottom: 15px;
    @include namefont($primary-white-color);

    @media screen and (max-width: 480px) {
      // margin-bottom: 30px;
      font-size: calc((100vw - 320px) / (480 - 320) * (30 - 24) + 24px);
    }

    @media screen and (min-width: 481px) {
      font-size: 30px;
    }

    @media screen and (min-width: 960px) {
      font-size: 35px;
    }
  }

  .personal-mob {
    @include secondaryfont();
    color: $accent-color;
  }

  .profession-divider-mob {
    color: $accent-color;
  }
}

.contacts-container {
  margin: 30px 35px 0 35px;

  @media screen and (max-width: 767px) {
    margin-left: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
    margin-right: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
    // margin-right: 22px;
  }

  @media screen and (min-width: 960px) {
    margin: 40px 35px 0 35px;
  }
}

.contacts-title,
.skills-title {
  margin-bottom: 10px;
  @include titlefont($primary-white-color);
}

.contacts-link {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  text-decoration: none;
  @include mainfont($accent-color);
  @include transit(font-weight);

  &:hover,
  &:focus,
  .contact-block:hover &,
  .contact-block:focus & {
    font-weight: $title-font-weight;
    text-decoration: underline;
  }
}

.contacts-link.start {
  align-items: flex-start;
}

.icon-contacts {
  margin-right: 5px;
  // width: 20px;
  // height: 20px;
}

.icon {
  fill: $primary-text-color;
  @include transit(fill);

  .contacts-link:hover &,
  .contacts-link:focus & {
    fill: $accent-color;
  }
}

.contacts-link-type {
  margin-right: 10px;
  @include mainfont($primary-white-color);
  font-weight: $title-font-weight;

  @include transit(color);

  &:hover,
  &:focus {
    color: $accent-color;
    cursor: pointer;
  }
}

.skills-container {
  margin: 40px 35px 0 35px;

  @media screen and (max-width: 767px) {
    margin-left: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
    margin-right: calc((100vw - 320px) / (480 - 320) * (60 - 35) + 35px);
  }

  // @media screen and (min-width: 960px) {
  //   margin: 40px 35px 0 35px;
  // }
}

.skills-item {
  margin-left: 20px;
  margin-bottom: 4px;
  @include mainfont($accent-color);
}

.skills-text {
  color: $primary-text-color;
}
