* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: 0;
  background: $body-bg-color;
  font-family: $main-font;
  // color: $primary-text-color;

  @media screen and (max-width: 767px) {
    padding: 0;
  }

  @media screen and (min-width: 768px) {
    padding: 40px 20px;
  }

  // повна заборона друку документа
  // @media print {
  //   display: none;
  // }
}

body.light-theme {
  background-color: $body-bg-color;
  color: $primary-black-color;
}

body.dark-theme {
  background-color: $link-color;
  color: $primary-text-color;
  font-weight: $primary-font-weight;
}

.wrapper {
  background: $primary-white-color;
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

  @media (min-width: 768px) {
    display: flex;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
