$main-font: Montserrat, sans-serif;

$main-font-size: 14px;
$secondary-font-size: 12px;
$name-font-size: 45px;
$title-bar-font-size: 36px;
$title-about-font-size: 20px;
$profession-font-size: 16px;

$main-line-height: 1.72;
$secondary-line-height: 2;
$name-line-height: 1.33;
$title-about-line-height: 1.08;
$profession-line-height: 1.5;

$primary-font-weight: 400;
$secondary-font-weight: 600;
$title-font-weight: 700;
$dim-font-weight: 300;
$dots-font-weight: 100;

$sidebar-bg-color: #1d466c;
$body-bg-color: #f5f7fa;

$primary-white-color: #ffffff;
$primary-black-color: #000000;
$accent-color: #b17f83;
$primary-text-color: #d6d8db;
$secondary-text-color: #a8a8a8;
$link-color: #595959;
$dots-color: #bebebe;

$duration: 250ms;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
