@media print {
  body {
    background: $primary-white-color;
    padding: 0;
    // font-family: $main-font;
  }

  .theme-switch {
    display: none;
  }

  .wrapper {
    display: flex;
    box-shadow: none;
  }

  .sidebar {
    width: 330px;
    // box-shadow: none;
    height: 100vh;
  }

  .info-mob {
    display: none;
  }

  .contacts-container {
    margin: 40px 30px 0 30px;
  }

  .skills-container {
    margin: 30px 30px 0 30px;
  }

  .about-me-container {
    padding: 35px 25px;
  }

  .info-container {
    margin-bottom: 20px;
  }

  .info-tablet {
    margin-bottom: 10px;
  }

  .projects-container {
    margin-bottom: 20px;
  }

  .projects-item {
    margin-left: 15px;
  }

  .dots {
    display: none;
  }

  .link-description {
    display: block;
  }
}
